.comments-list {
  max-width: 800px;
  margin: 20px auto;
  padding: 0;
  @apply list-none;
}

.comment-card {
  @apply card;
}

.comment-card p {
  margin: 5px 0;
}

.comment-card button {
  margin-top: 10px;
}
