#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%; /* Ensure root takes full width */
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  max-width: var(--header-max-width); /* Set a max width for the header */
  margin: 0 auto; /* Center the header */
  text-align: center;
}

h1 {
  font-size: 3.2em;
  margin: 0;
  line-height: 1.1;
  color: var(--font-color-primary);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  header {
    padding: 10px;
  }

  .logo {
    height: 4em;
    padding: 1em;
  }

  .card {
    padding: 1em;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    display: block;
    margin: 5px 0;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar a {
    padding: 10px;
  }

  h1 {
    font-size: 2.5em;
  }

  button {
    font-size: 0.9em;
    padding: 0.5em 1em;
  }

  .card {
    padding: 10px;
  }
}
